<div class="flex items-center justify-between p-3 rounded-lg border border-[#232323] cursor-pointer transition-colors bg-[#f8f5f2]">
  <div class="flex items-center gap-3">
    <div class="relative">
      <span class="flex h-10 w-10 items-center justify-center rounded-full font-semibold bg-[#078080] text-[#232323]">JD</span>
      <div class="absolute -bottom-1 -right-1 w-3 h-3 rounded-full border-2 border-white bg-[#f45d48]"></div>
    </div>
    <div>
        <p class="font-medium text-[#232323]">{{ username }}</p>
      <!-- <p class="text-xs text-[#222525]">Online</p> -->
    </div>
  </div>
  <button class="h-8 rounded-md px-3 text-sm font-medium bg-[#078080] text-[#232323] hover:bg-primary/90 hover:cursor-pointer">Add Friend</button>
</div>
