 <!-- <div id="modal-add-friend-content" class="fixed inset-0 hidden bg-black bg-opacity-50 flex items-center justify-center z-50">
    <h3>Add Friend</h3>
    <div id="find-friend">
        {% csrf_token %}
        <input id="input-find-friend" type="search"></input>
        <button id="button-find-friend">Search</button> 
    </div>
    <div id="results-find-friend">
    {% for friend in friends_results %}
        {% include "friends/add-friend-record.html" with username=friend.username %}
    {% endfor %}
    </div>
</div>
-->
<div class="fixed  hidden inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 animate-in fade-in duration-200">
  <div class="bg-white flex flex-col gap-2 rounded-xl py-6 shadow-sm w-full max-w-lg border border-[#232323] animate-in zoom-in-95 duration-200">
    
    <!-- Header -->
    <div class="p-6 border-b border-[#232323]">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold text-[#232323]">Add Friend</h3>
        <button id="add-friend-modal-exit-button"class="flex items-center justify-center rounded-md text-[#232323] hover:bg-[#078080] hover:cursor-pointer">
            {% include "chat/icons/close-icon.html" %}
        </button>
      </div>

      <!-- Tabs -->
      <!--<div class="flex gap-1 p-1 rounded-lg bg-[#f8f5f2]">
        <button class="flex-1 h-8 rounded-md px-3 text-sm font-medium text-[#232323]">Add Friend</button>
        <button class="flex-1 h-8 rounded-md px-3 text-sm font-medium text-[#232323]">Requests (2)</button>
        <button class="flex-1 h-8 rounded-md px-3 text-sm font-medium text-[#232323] shadow-sm bg-white">Friends (5)</button>
      </div>
    -->
    </div>

    <!-- Body -->
    <div class="p-6 max-h-96 overflow-y-auto">
      <div class="space-y-3">
        
        <!-- Search -->
        <div class="relative">
            {% include "chat/icons/maginfire-icon.html" %}
            <input class="w-full h-9 rounded-md border border-[#232323] px-3 pl-10 text-base md:text-sm outline-none bg-[#f8f5f2] text-[#222525]" placeholder="Search friends...">
        </div>

        <!-- Friend Card -->
        {% include "friends/add-friend-record.html" %}
        
      </div>
    </div>

  </div>
</div>

<script>
    document.getElementById("button-find-friend").addEventListener('click' , async function(e) {
        const query = document.getElementById("input-find-friend").value;
        const requestUrl = "/friends/find/" + query;
        const modalAddFriend = document.getElementById("modal-add-friend");
        
        try {
            const response = await fetch(requestUrl);

            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }
            else {
                const html = await response.text();
                modalAddFriend.innerHTML = html;
                addEvent();
            }

        } catch (error) {
            console.error(error.message);
        }
    }
    );
    

    function addEvent() {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        document
            .querySelectorAll('.button-add-friend-record')
            .forEach(function(button) {
                button.addEventListener('click', async function(event) {
                    const requestUrl = '/friends/add/' + event.target.dataset.username;
                    try {
                        const response = await fetch(
                            requestUrl, 
                            {
                                method: "POST",
                                headers: {'X-CSRFToken': csrftoken}
                            });
                        
                        if (!response.ok) {
                            throw new Error(`Response status: ${response.status}`);
                        }
                    }catch (error) {
                        console.error(error.message);
                    }
                    window.location.href = '/chat/';
                });
        });
    }


</script>
