<!-- chat/templates/registration/login.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form id="loginForm" method="post">
        {% csrf_token %}
        {{ form }}

        <button id="loginButton">Login</button>
    </form>
</body>
</html>
