<div class="space-y-2">
  <div class="flex items-center justify-between p-3 rounded-lg border border-[#232323] cursor-pointer transition-colors hover:bg-black/5">
    <div class="flex items-center gap-3">
      <div class="relative">
          {% include "chat/icons/user-logo.html" with username=username  %}
          <div class="absolute -bottom-1 -right-1 w-3 h-3 rounded-full border-2 border-white bg-[#f45d48]"></div>
      </div>
      <div>
          <p class="font-medium text-[#232323]">{{username}}</p>
      </div>
    </div>
    <input type="checkbox" data-username="{{ username }}" class="modal-create-group-friend-record-checbox w-5 h-5 rounded border-2 border-[#232323] hover:cursor-pointer"></input>
  </div>
