<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    {% load static %}
    <link href="{% static "chat/css/output.css" %}" rel="stylesheet">
</head>
<body class="h-full">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<div class="flex h-screen bg-[#f8f5f2]">
    <div id="chat-selection" class="w-80 border-r flex flex-col">
        <!-- {% include "chat/user-banner.html" %} -->
        <div class="p-4 border-b">
            <div class="flex items-center justify-between mb-4">
                <h3 id="chats-heading-text" class="text-xl font-semibold">Chats</h3>

                <div class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all">{% include "chat/icons/add-friend-icon.html" %}</div>
            </div>
        </div>
        <div id="room-list" class="flex-1 overflow-y-auto">
            {% for room in request.user.rooms.all %}
                <div class="room p-4 border-b cursor-pointer hover:bg-opacity-50 transition-colors bg-opacity-100" data-room-id='{{room.id}}'>
                    <div class="flex items-center gap-3">
                        <div>
                        </div>
                        <div class="flex-1 min-w-0">
                            <div class="flex items-center justify-between">
                                <h3 class="font-semibold truncate"> {{ room.name }}</h3>
                                <span class="text-xs">21:37 </span>
                            </div>
                            <div class="flex items-center justify-between mt-1"> 
                                <p class="text-sm truncate">Lorem Ipsuum</p> 
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
   
        <div id="modal-add-friend">
            {% include "friends/add-friend.html" %}
        </div>
        <script>
            document.querySelectorAll('.room').forEach(roomDiv => {
                roomDiv.addEventListener('click', () => {
                const roomId = roomDiv.dataset.roomId;
                window.location.pathname = '/chat/' + roomId + '/';
                });
            });
        </script>
        <div id="modal-create-group">
            {% include "chat/create-group-modal.html" %}
        </div>
    </div>
    <div id="chatroom" class="flex-auto p-1.5 bg-[#004643] flex flex-col h-screen">
        {% include "chat/room.html" %}
    </div>
</div>
</body>
</html>
