<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2> Hi {{ user.username }}</h2>
    <form id="logout-form" method="post" action="{% url 'logout' %}">{% csrf_token %}
        <button id="logout-button">Logout</button>
    </form><br/>

    <button id='add-friend-button'>Add Friend</button>
    <button id='create-group-button'>Create Group</button></br>
    What chat room would you like to enter?<br>

    <div>
        {% for room in request.user.rooms.all %}
            <div> 
                <div class="room" data-room-id='{{room.id}}'>{{ room.name }}</div>
            </div>
        {% endfor %}
    </div>
    <div id="modal-add-friend">
        {% include "friends/add-friend.html" %}
    </div>
    <script>
        document.querySelectorAll('.room').forEach(roomDiv => {
            roomDiv.addEventListener('click', () => {
            const roomId = roomDiv.dataset.roomId;
            window.location.pathname = '/chat/' + roomId + '/';
            });
        });
        
    </script>
    <div id="modal-create-group">
        {% include "chat/create-group-modal.html" %}
    </div>
</body>
</html>
