<div class="flex justify-start">
    <div class="flex items-end gap-2 max-w-xs lg:max-w-md">
        {% include "chat/icons/user-logo.html" with username=message.sender.username %}
        <div class="bg-card text-card-foreground flex flex-col gap-4 rounded-xl shadow-sm p-3 border bg-white text-[rgb(34,37,37)] border-[rgb(35,35,35)]" >
            <p class="text-sm leading-relaxed">
            {{message.content}}
            </p>
            <p class="text-xs mt-1 opacity-70" style="color: rgb(34, 37, 37);">{{message.timestamp}}</p>
        </div>
    </div>
</div>

