{% include "chat/room-banner.html" %}

<div id="chat-log" class="flex-1 flex-col overflow-y-auto p-4 space-y-4 bg-[#f8f5f2]">    
    {% for message in latest_messages %}
        {% if message.sender != request.user %}
            {% include "chat/received-message.html" with message=message %}
        {% else %}
            {% include "chat/send-message.html" with message=message %}
        {% endif %}
    {% endfor %}
</div>

<div class="p-4 border-t bg-[#ffffff]">
    <div class="flex items-center gap-2">
        <input id="chat-message-input" type="text" class="w-full flex-1 h-9 rounded-md border px-3 py-1 text-sm outline-none bg-[#f8f5f2] focus:ring-2 focus:ring-primary" placeholder="type a message...">
        <button id="chat-message-submit" class="flex items-center justify-center rounded-md text-sm font-medium bg-[#078080] text-white hover:bg-[#066666] h-9 w-9 disabled:opacity-50">
            {% include "chat/icons/send-icon.html" %}
        </button>
    </div>
</div>
{{ current_room.id|json_script:"room-id" }}
   <script>
    const roomId = JSON.parse(document.getElementById('room-id').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomId
        + '/'
    );
    function addMessage(message){
        var messageHtml = "";

        if (message.author == "{{ request.user }}"){
            messageHtml = createSendMessageElement(message);
        }else{
            messageHtml = createReceivedMessage(message);
        }

        const chatLog = document.getElementById("chat-log");
        chatLog.appendChild(messageHtml);
    }
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);



        const message = {
            content: data.message,
            author: data.user,
            timestamp: getCurrentTime()
        };
        addMessage(message)
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    
    //Send message
    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
        }));
        messageInputDom.value = '';
    };

    function getCurrentTime() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');   // np. "09"
        const minutes = String(now.getMinutes()).padStart(2, '0'); // np. "05"
        return `${hours}:${minutes}`;
    }
    function createSendMessageElement(message) {
        const outerDiv = document.createElement("div");
        outerDiv.className = "flex justify-end";

        const innerDiv = document.createElement("div");
        innerDiv.className = "flex flex-col gap-4 rounded-rglg border p-3 shadow-sm text-gray-800 border-gray-800 bg-[#078080]";

        const contentP = document.createElement("p");
        contentP.className = "text-sm";
        contentP.textContent = message.content;

        const timeP = document.createElement("p");
        timeP.className = "text-xs opacity-70";
        timeP.textContent = message.timestamp;

        innerDiv.appendChild(contentP);
        innerDiv.appendChild(timeP);
        outerDiv.appendChild(innerDiv);

        return outerDiv;
    }

    function createReceivedMessageElement(message) {
        const outerDiv = document.createElement("div");
        outerDiv.className = "flex justify-start";

        const innerDiv = document.createElement("div");
        innerDiv.className = "bg-card text-card-foreground flex flex-col gap-4 rounded-xl shadow-sm p-3 border bg-white text-[rgb(34,37,37)] border-[rgb(35,35,35)]";

        const contentP = document.createElement("p");
        contentP.className = "text-sm";
        contentP.textContent = message.content;

        const timeP = document.createElement("p");
        timeP.className = "text-xs mt-1 opacity-70 text-[rgb(34,37,37)]";
        timeP.textContent = message.timestamp;

        innerDiv.appendChild(contentP);
        innerDiv.appendChild(timeP);
        innerDiv.appendChild(createUserAvatar(message.author))
        outerDiv.appendChild(innerDiv);

        return outerDiv;
    }

    function createUserAvatar(username) {
        // główny span
        const outerSpan = document.createElement("span");
        outerSpan.className = "relative flex size-8 shrink-0 overflow-hidden rounded-full h-10 w-10";

        // wewnętrzny span
        const innerSpan = document.createElement("span");
        innerSpan.className = "bg-[rgb(7,128,128)] text-[rgb(35,35,35)] flex size-full items-center justify-center rounded-full font-semibold";

        // pierwsza litera username
        const initial = username.charAt(0).toUpperCase();
        innerSpan.textContent = initial;

        // składanie
        outerSpan.appendChild(innerSpan);

        return outerSpan;
    }
</script>
